*{ 
    padding: 0;
    margin: 0;
}
header{
    height: 35px;
    width: 100%;
    background: gray;
}
header > h1{
    margin-left: 290px;
}
#hl{
    float: left;
}
.svg{
    position: relative;
    width: 20px;
    height: 20px;
}
#border{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid gray;
    width: 800px;
    height: 650px;
    border-radius: 5px;
}
.submit
{
    padding: 15px 25px 15px 25px;
    color: white;
    background: green;
    border: none;
    border-radius: 5px;
    margin: 5px;
    margin-top: 6%;
}
#g{
    float: left;
    width: 100%;
    height: 150px;
}
nav{
    float: left;
    width: 60%;
    height: 150px;
    text-align: center;
}
.buzka{
    width: 20%;
    float: left;
    height: 150px;
}
#s{
    float: left;
    width: 100%;
    height: 315px;
    text-align: center;
}
#formularz{
    margin: 0 auto 0 auto;
    width: 400px;
    height: 250px;
    border: 1px solid black;
}
#d{
    float: left;
    width: 100%;
    height: 150px;
}
#ds{
    float: left;
    width: 60%;
    height: 150px;
}
p{
    font-size: 700%;
}
a{
    font-size: 90%;
    text-decoration: none;
    color: black;
}
span{
    margin: 0 10px 0 10px;
}
#ng{
    margin: 25px auto 25px auto;
    text-align: center;
    width: 350px;
    padding: 10px;
    border: 1px solid black;
}
.svg1{
    width: 100px;
    height: 100px;
    position: relative;
}
hr{
    border: 1px solid gray;
    width: 200px;
    margin-left: 150px;
    margin-top: -53px;
}
#ds{
    text-align: center;
}
div{
    float: left;
    font-size: 70%;
}
.div1{
    margin: 50px 0px 0 100px;
}
.div2{
    margin: 50px 0px 0 20px;
}
.div3{
    margin: 50px 0px 0 20px;
}
.fi{
    width: 37.5%;
    margin-top: 6%;
    border: solid 1.5px grey;
    border-radius: 5px;
    text-align: center;
}
.fi1{
    width: 75%;
    margin-top: 6%;
    border: solid 1.5px grey;
    border-radius: 5px;
    text-align: center;
}